:root{
    --body-bg: #FFFFFF;
    --body-color: #000000;
}

@media (prefers-color-scheme: dark){
    :root{
        --body-bg: #000000;
        --body-color: #FFFFFF;
    }
}

.line {
    background-color: black; 
}

@media (prefers-color-scheme: dark) {
    .line {
        background-color: white;
    }
}

body {
    font-family: 'Montserrat';font-size: 30px;
    text-align:center;

    background: var(--body-bg);
    color: var(--body-color);
    
}

.image {
    margin-top: 5%;
}

.centered-object {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    background-color: #FFFFFF;
    border-radius: 5%;
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (prefers-color-scheme: dark){
    .centered-object{
        background-color:black;
        border: 2px solid white;
    }
}

body {
    background-color: white;
    text-align: center;
  }
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
