:root{
    --body-bg: #FFFFFF;
    --body-color: #000000;
}

@media (prefers-color-scheme: dark){
    :root{
        --body-bg: #000000;
        --body-color: #FFFFFF;
    }
}

body {
    font-family: 'Montserrat';font-size: 30px;
    text-align:center;

    background: var(--body-bg);
    color: var(--body-color);
}