:root{
    --body-bg: #FFFFFF;
    --body-color: #000000;
}

@media (prefers-color-scheme: dark){
    :root{
        --body-bg: #000000;
        --body-color: #FFFFFF;
    }
}

.line {
    background-color: black; 
}

@media (prefers-color-scheme: dark) {
    .line {
        background-color: white;
    }
}

body {
    font-family: 'Montserrat'; font-size: 30px;
    text-align:center;

    background: var(--body-bg);
    color: var(--body-color);
    
}

.loader-container {
    text-align: center;
}

.logo {
    width: 100px; /* Personalizza la larghezza del tuo logo */
    height: 100px; /* Personalizza l'altezza del tuo logo */
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    font-size: 18px;
    color: #333;
}

/* Stile del contenuto principale che sarà nascosto durante il caricamento */
.main-content {
    display: none;
}

.centered-object {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    background-color: #FFFFFF;
    border-radius: 5%;
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (prefers-color-scheme: dark){
    .centered-object{
        background-color:black;
        border: 2px solid white;
    }
}

.empty-space {
    height: 800px;
}

a {color : white}

footer {
    background-color: darkgrey;
    color: white;
    text-align: center;
    padding: 3px;
}
